[Unit]
Description=Run mbsync to sync mail

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/mbsync -a && /usr/bin/notmuch new && /usr/bin/afew --tag --new'
